body{
    background-image: url(images/background3.jpg);
    background-color: rgb(153, 192, 192);
}

.bg{
    background-color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: auto 36px;
    border-radius: 36px;
    padding-bottom: 24px;
}

.title{
    background-color: #f0ff6c;
    color: rgb(160, 160, 26);
    padding: 8px;
    font-size: 28px;
}

.blkstrp{
    background-color: black;
    color: white;
    padding-left: 8px;
}

.subtitle,
.description{
    padding: 3% 3% 0%;

}

.list{
    text-align: justify;
    padding-left: 20px;
    max-width: 90%;
    color: rgb(112, 111, 111);
}

.lnks{
    background-color: #bfbfbf67;
    color: #ffffff;
    border: 1px solid #dfdede;
    border-radius: 24px;
    margin: 0px 50px;
    max-height: 450px;
    font-size: 1.3em;
    padding: 5px;
}

.flag {
    margin-top: 20px;
    width: 40%;
}

footer{
    text-align: center;
    font-size: 12px;
    color: rgb(89, 56, 97);
}

a:link {
    color: rgb(132, 123, 252);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(66, 197, 230);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(88, 150, 243);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }